

.TextInput, .PassInput, .DropInput{
    font-size: 20px;
    margin: 10px;

    
   
    label {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
              
    }

    #pwc{
        margin-top: 20px;
    }

    input, select{
        height: 20px;
        width: 175px;

        box-sizing: content-box;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
    }

    select{
        height: 24px;
        width: 180px;
    }

    

    p{
        margin: 0px 10px 0px 0px;
    }

    .defInput, .defInput:focus {
        border: 1px solid black;
    }
    
    .validInput{
        border-color: greenyellow;
        border-radius: 5px;
        outline-color: green;
    }
    
    .badInput, .badInput:focus{
        border-color: lightcoral;
        outline-color: darkred;
    }
}

