

.TextInput, .PassInput, .DropInput{
    font-size: 20px;
    margin: 10px;

    label {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #pwc{
        margin-top: 20px;
    }

    input, select{
        height: 22px;
        width: 175px;

        box-sizing: content-box;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 10px;
    }

    select{
        height: 24px;
        width: 180px;
    }


    .defInput, .defInput:focus {
        border: 1px solid black;
    }
    
    .validInput{
        border-color: rgb(3, 203, 3);
        border-radius: 5px;
        outline-color: darkgreen;
    }
    
    .badInput, .badInput:focus{
        border-color: lightcoral;
        outline-color: darkred;
    }
    
    .emailError{
        border-color: lightcoral;
        outline-color: darkred;
    }
}




button{
    color: #f8a619;
    font-size: 20px;
    font-style: bold;

    width: 200px;
    height: 40px;
    border: 1px solid #f8a619;
    border-radius: 8px;
    background-color: #2f0c38;

    
    margin: auto;
    margin-top: 25px;

    cursor: pointer;
}

button:disabled{
    opacity: 45%;
    cursor: default;
}

footer{
    width:100%;
    background-color: #2f0c38;

    p{
        color: white;
        text-align: center;
    }

    a{
        color: #f8a619;
    }
}
    
    


@media only screen and (max-width: 425px){
    .TextInput, .PassInput, .DropInput{
        
        label{
            font-size: 14px;
        }
    }
}